<div class='bglogo'>
  <div class = "headerindex">
    <center><img id='logo' src="http://res.cloudinary.com/codaisseur/image/upload/v1461332270/HORRIFY_f7wdkk.png"><br>
      <img id='namelogo' src="http://res.cloudinary.com/codaisseur/image/upload/v1461332270/name_jyqlgg.png">
    </center>
  </div>
</div>

<p id="notice"><%= notice %></p>
<div class="container-fluid index">

<div class="welcome">
YOU NEED AN HOURGLASS. <i>TODAY</i>
</div>

  <ul class="bxslider">
  <%= render @items %>

  
  </ul>
  <!-- <%= link_to 'New Item', new_item_path %> -->
</div>
<div class='spacing'></div>
<%= render 'shared/cart' %>
