<div class='bglogo'>
  <div class = "headerindex">
    <center><img id='logo' src="http://res.cloudinary.com/codaisseur/image/upload/v1461160604/HORRIFY_ujq3ya.png"></center>
  </div>
</div>

<p id="notice"><%= notice %></p>
<div class="container-fluid index">

<div class="welcome">
  <h2 class="wel-head">
    Welcome to Hourify <br  />
    Below you can find our products
  </h2>
  <h4>(Click on a picture to go to a products page) </h4>
</div>
  <ul class="bxslider">
    <%= render @items %>
  </ul>
  <!-- <%= link_to 'New Item', new_item_path %> -->
</div>



<%= render 'shared/cart' %>
