
<p id="notice"><%= notice %></p>

<table>


  <tbody>

    <h3 class="text-center">Products for Sale</h3>

    <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <% @items.each do |item| %>
      <%= render "product_row", item: item, image_tag: item.image, order_item: @order_item %>
    <% end %>
    </div>
    </div>



  </tbody>
</table>
