//
// #bg {
//   position: fixed;
//     top: 0;
//     left: 0;
//
//     /* Preserve aspet ratio */
//     min-width: 100%;
//     min-height: 100%;
//   }

/* Body Background */
body {
  background: url("http://res.cloudinary.com/codaisseur/image/upload/v1461163575/hourglass_glass_book_63296_1920x1080_wpvu77.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* Container for the items */
.list-container{
  position:relative;
  border: 1px solid white;
  margin-top: 20px;
  height: 250px;
  background: #737374;
  background-color: white 0.6;
  display:inline-block;
  width: 450px;
  opacity:0.8;
}

/* Image for item */
.index-img {
  height: 450px;
  width: 100%;
  margin-left: 0;
}

/* Item tags */
.item-tags{
  margin-top: 5%;
  width: 40%;
  height: 166px;
  margin-left: -80px;
}
.tags li {
  color: white;
  list-style-type: none;
  font-size: 14px;
  padding: 15px;
  border: 1px solid white;
  width: 190px;
  margin-left: 120px;
  margin-top: 10px;
}

/* Align div's horizontally */
/* Override bootstrap values */
.row {
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
}
.col-xs-12 {
  width: 60%;
}

/* Logo header */

#logo {
  width:120px;
  position:relative;
  margin-top: 77px;
  margin-bottom:20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
#logo:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#namelogo{
  width:150px;
}


.bglogo{
  width:100%;
  background-color: white;
  height:270px;
  margin:0;
  opacity:0.7;
}

/* Test for showing information in slider */
.test {
  width: 100%auto;;
  height: 100px;
  background: gray;
  opacity:0.7;
}

.tag {
  margin-left: 6%;
  padding-top: 10px;
  letter-spacing: 4px;
  font-family: "Muli"
}
.atc_button {
  height: 50px;
  width: 50px;
  margin-left: 70%;
  background: black;
  margin-top: -45px;
  width: 20%;
  border-radius: 30px;
  border: 1px solid white;
  cursor: pointer;
}
.atc {
  color: white;
  font-size: 14px;
  padding-top: 10%;
  margin-left:12%;
  letter-spacing: 3px;
}

.atc a {
  text-decoration: none;
  color:white;
}

/* Welcome message */
.welcome {
  text-align: center;
  font-size:50px;
  opacity:0.8;
  color: white;
  margin-top: 35px;
  margin-bottom: 60px;
}
